#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	:

override_dh_auto_install:
	mkdir -p debian/amarplayer/usr/share/amarPlayer
	mkdir -p debian/amarplayer/usr/bin
	mkdir -p debian/amarplayer/usr/share/applications
	mkdir -p debian/amarplayer/usr/share/icons/hicolor/512x512/apps

	cp amarPlayer.py debian/amarplayer/usr/share/amarPlayer/amarPlayer.py

	printf '%s\n' '#!/bin/sh' 'exec python3 /usr/share/amarPlayer/amarPlayer.py "$$@"' \
		> debian/amarplayer/usr/bin/amarPlayer
	chmod 755 debian/amarplayer/usr/bin/amarPlayer

	cp amarPlayer.png debian/amarplayer/usr/share/icons/hicolor/512x512/apps/amarPlayer.png

	cp packaging/debian/amarPlayer.desktop \
		debian/amarplayer/usr/share/applications/amarPlayer.desktop
