[Desktop Entry]
Name=amarPlayer
Comment=Modern music player for Linux
Exec=amarPlayer %U
Icon=amarPlayer
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Player;
MimeType=audio/mpeg;audio/flac;audio/wav;audio/ogg;audio/x-opus+ogg;audio/aac;audio/mp4;
StartupNotify=true
